extends ../layouts/common.pug
block content

	h1 View Product

	ul
		li Tên: 
			span= product.ten
		li Mô tả:
			span= product.mota
		li Giá:  
			span= product.gia
		li Giá cũ:
			span= product.giacu
		li Tỉ lệ giảm giá:
			span=product.tilegiamgia
		li Mã danh mục:
			span=product.madanhmuc
		li Ảnh:
			span=product.anh
